body{
    background-image: url('../css/francisco-venancio-M4Xloxsg0Gw-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    opacity: 0.8;
    height: 100vh;
}
.br{
    position: fixed;
    font-weight: bold;
    font-size: 30px;
    top:20%;
    left: 20%;
    width:60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
span {
    font-weight: bold;
}
.formcard{
    background-color: white;
    opacity: 0.95;
    margin-top: 7%;
    margin-left: 35%;
    width:35%;
    margin-bottom: 35px;
    padding: 10px;
    box-shadow: 5px 5px 20px  #aaaaaa;
}
.formcard h3{
    text-align: center;
    margin-top: 20px;
}
.formcard .btn{
    margin-bottom:20px;
}

@media only screen and (max-width: 953px) {
    .br a {
      margin-top: 5px;  
      display: block;
    }
    .br{
        font-weight: bold;
        padding: 30px ;
        position: relative;
    }
  }