img{
    max-width:100%;
    max-height: auto;
}
.bg{
    height: 20%;
}
.img{
    width:100%;
    height:20%;
    position: absolute;
}

.br{
    position: fixed;
    font-weight: bold;
    top:20%;
    left:25%;
    width:50%;
}