<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/client.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">  
    {% if user[0]['type'] == 'pat' %}
    <title>E-medic Patient</title>
    {% else %}
    <title>E-medic Doctor</title>
    {% endif %}

</head>
<body>

<nav class="sidenav">
  <div style="text-align: center;margin-bottom: 20px;">
    <img src="{{ url_for('static',filename=row[0]['photo'])}}" style="border-radius: 50%;" width="100" height="100" >
    <h6 class="text-light" style="margin-top: 10px;"><strong><em>Welcome {{ user[0]['user_id'] }}</em></strong></h6>
  </div>
  <div>  
    {% if user[0]['type'] == 'pat' %}
      <a href="/patient">Home</a>
    {% else %}
      <a href="/doctor">Home</a> 
    {% endif %}
    <a href="/message">Messages</a>
    {% if user[0]['type'] == 'pat' %}
      <a href="/map">Find Doc</a>
    {% endif %}
    <a href="/profile">Profile</a>
    <a href="/logout" class="text-light"><strong><em></em>Log out</a>
  </div>    
</nav>

<div id="main">
    <nav class="navbar navbar-inverse bg-dark navbar-expand-md" style="position:fixed;top:0; width: 100%;">
        <span> 
            <a class="navbar-brand" href="">
                <img src="../static/css/white.png" width="100" height="30" alt="">
            </a>           
        </span>  
    </nav>

{% block main %}{% endblock %} 
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    $(".his").click(function(){
        $(".hisdrop").toggle()
    })
    $(".prog").click(function(){
        $(".progdrop").toggle()
    })
       
    document.getElementById('update').onclick=(e)=>{
      e.preventDefault();
      document.getElementById('profile').style.display = 'none';
      document.getElementById('show').style.display = 'block'
    }
    document.getElementById('cancel').onclick=(e)=>{
      e.preventDefault();
      document.getElementById('show').style.display = 'none';
      document.getElementById('profile').style.display = 'block'
    }
    
    </script>
   
</body>
</html> 
