{% extends "client_layout.html" %}
{% block main %}
<!--from here-->
        <div class="jumbotron jumbotron-fluid" style='text-align: left !important;'>
          <div class="container text-success">
              <h1 class="display-4"><em>E - Medicals</em></h1>
              <p class="lead">This is your online work environment..</p>
          </div>
        </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <!-- Recent Activities Widget      -->
                        <button class="btn btn-success btn-lg his" style="width:100%;" type="button">
                            History
                        </button>
                        <ul class="list-group hisdrop" style="width:100%;">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Morbi leo risus</li>
                            <li class="list-group-item">Porta ac consectetur ac</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                    </div>
                    
                    <div class="col-lg-6 col-md-6">
                        <!-- Recent Activities Widget      -->
                        <button class="btn btn-success btn-lg prog" style="width:100%;" type="button">
                            In progress
                        </button>
                        <ul class="list-group progdrop" style="width:100%;">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Morbi leo risus</li>
                            <li class="list-group-item">Porta ac consectetur ac</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>
            </div>            
        <!--to here-->       

{% endblock %}