{% extends "client_layout.html" %}
{% block main %}
<!--from here-->  
<div class="jumbotron jumbotron-fluid" style='text-align: left !important;'>
    <div class="container text-success">
        <h1 class="display-4"><em>E - Medicals</em></h1>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <!-- Recent Activities Widget      -->
            <button class="btn btn-success btn-lg his" style="width:100%;" type="button">
                History
            </button>
            <ul class="list-group hisdrop" style="width:100%;">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
        
        <div class="col-lg-6 col-md-12">
            <!-- Recent Activities Widget      -->
            <button class="btn btn-success btn-lg prog" style="width:100%;" type="button">
                In progress
            </button>
            <ul class="list-group progdrop" style="width:100%;">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>
</div>           
<script src="http://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
    let type = `{{user[0]['type']}}`
    console.log(type);    
    if(type == 'pat'){
        window.location = 'http://127.0.0.1:5000/patient'
    }

    var pos;    
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
            pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            };
            console.log(pos)
        })
    }
    setTimeout(()=> $.ajax({
        method:"GET",
        url:'/doctor',
        data:pos,
        success:()=>console.log("posted :"+this.data)
    }),5000)

 </script>       
{% endblock %}