{% extends "layout.html" %}
{% block main %}    
    <!--jumbotron-->
    
    <div class="br">
        <h1 class="display-4"><span>Welcome to eMedicals</span></h1>
        <p class="lead" ><span style="color: darkgreen;">Get access to quality health care without hassle!!!</span></p>
        <hr class="my-4">            
        <div>
            <p>We provide access to highly qualified doctors around you,
                connect with specialists and consultants from the comfort of your home.</p>
        </div>
        <div>
            <a href="/d_register" id="doctor" class="btn btn-success btn-lg" role="button"><span class="spinner-grow spinner-grow-sm"></span>Are you a doctor ?</a>
            <a href="/p_register" id="patient" class="btn btn-success btn-lg" role="button"><span class="spinner-grow spinner-grow-sm"></span>Do you need a Doctor ?</a>
        </div>
    </div>
    
{% endblock %}   
