<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_2befb0c625ab4c06977040578d2adc83 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_2befb0c625ab4c06977040578d2adc83" ></div>
        
</body>
<script>    
    
            var map_2befb0c625ab4c06977040578d2adc83 = L.map(
                "map_2befb0c625ab4c06977040578d2adc83",
                {
                    center: [6.5244, 3.3792],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0ebc088513ea431f92194fe0b987d3eb = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_2befb0c625ab4c06977040578d2adc83);
        
    
            var marker_db3dbe60b5ee416d8292bc0b69390e80 = L.marker(
                [6.4487672, 3.5306864],
                {}
            ).addTo(map_2befb0c625ab4c06977040578d2adc83);
        
    
        var popup_aeaf70c43d4641b68f644e674af62ef6 = L.popup({"maxWidth": "100%"});

        
            var html_7139516145724a1a8997de82099b74e5 = $(`<div id="html_7139516145724a1a8997de82099b74e5" style="width: 100.0%; height: 100.0%;"><a href="\message?name=ere">Dr. ere</a></div>`)[0];
            popup_aeaf70c43d4641b68f644e674af62ef6.setContent(html_7139516145724a1a8997de82099b74e5);
        

        marker_db3dbe60b5ee416d8292bc0b69390e80.bindPopup(popup_aeaf70c43d4641b68f644e674af62ef6)
        ;

        
    
    
            marker_db3dbe60b5ee416d8292bc0b69390e80.bindTooltip(
                `<div>
                     click
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5733fffa345447f38ca6426259e21927 = L.marker(
                [6.4390379, 3.5244671999999997],
                {}
            ).addTo(map_2befb0c625ab4c06977040578d2adc83);
        
    
            var icon_2ab28fed984f4f5e8d2b449cd887e0a5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_5733fffa345447f38ca6426259e21927.setIcon(icon_2ab28fed984f4f5e8d2b449cd887e0a5);
        
    
            marker_5733fffa345447f38ca6426259e21927.bindTooltip(
                `<div>
                     <span color:'green'>You</span>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7e74ea7019e14189a8327027a32e630c = L.marker(
                [6.439095399999999, 3.5244182000000004],
                {}
            ).addTo(map_2befb0c625ab4c06977040578d2adc83);
        
    
        var popup_0f663a470738485ebd53cc0c77fb5de9 = L.popup({"maxWidth": "100%"});

        
            var html_8104697724384b788d35713b4fa7ea55 = $(`<div id="html_8104697724384b788d35713b4fa7ea55" style="width: 100.0%; height: 100.0%;"><a href="\message?name=dreplica">Dr. dreplica</a></div>`)[0];
            popup_0f663a470738485ebd53cc0c77fb5de9.setContent(html_8104697724384b788d35713b4fa7ea55);
        

        marker_7e74ea7019e14189a8327027a32e630c.bindPopup(popup_0f663a470738485ebd53cc0c77fb5de9)
        ;

        
    
    
            marker_7e74ea7019e14189a8327027a32e630c.bindTooltip(
                `<div>
                     click
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6b73881d061445c9bc34f422df46c8e3 = L.marker(
                [6.4389956, 3.5244706],
                {}
            ).addTo(map_2befb0c625ab4c06977040578d2adc83);
        
    
        var popup_b703d4eddd3349269851bdc70fa567e3 = L.popup({"maxWidth": "100%"});

        
            var html_7652320148334dbc8acccb3ad3c666d2 = $(`<div id="html_7652320148334dbc8acccb3ad3c666d2" style="width: 100.0%; height: 100.0%;"><a href="\message?name=soft">Dr. soft</a></div>`)[0];
            popup_b703d4eddd3349269851bdc70fa567e3.setContent(html_7652320148334dbc8acccb3ad3c666d2);
        

        marker_6b73881d061445c9bc34f422df46c8e3.bindPopup(popup_b703d4eddd3349269851bdc70fa567e3)
        ;

        
    
    
            marker_6b73881d061445c9bc34f422df46c8e3.bindTooltip(
                `<div>
                     click
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9a1b9ddf210a42f793adb901f4815f2e = L.marker(
                [6.4252145, 3.5187383],
                {}
            ).addTo(map_2befb0c625ab4c06977040578d2adc83);
        
    
        var popup_62f1f337fc4b416f8eb626216ad9c130 = L.popup({"maxWidth": "100%"});

        
            var html_ccd09b49d6fa47be83b68f746210b5fb = $(`<div id="html_ccd09b49d6fa47be83b68f746210b5fb" style="width: 100.0%; height: 100.0%;"><a href="\message?name=diablo">Dr. diablo</a></div>`)[0];
            popup_62f1f337fc4b416f8eb626216ad9c130.setContent(html_ccd09b49d6fa47be83b68f746210b5fb);
        

        marker_9a1b9ddf210a42f793adb901f4815f2e.bindPopup(popup_62f1f337fc4b416f8eb626216ad9c130)
        ;

        
    
    
            marker_9a1b9ddf210a42f793adb901f4815f2e.bindTooltip(
                `<div>
                     click
                 </div>`,
                {"sticky": true}
            );
        
</script>