<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_24ca4253a2ca493080d43a05546d02fd {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_24ca4253a2ca493080d43a05546d02fd" ></div>
        
</body>
<script>    
    
            var map_24ca4253a2ca493080d43a05546d02fd = L.map(
                "map_24ca4253a2ca493080d43a05546d02fd",
                {
                    center: [6.5244, 3.3792],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c32e0e21a24145c18ffdc702c2f73af1 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_24ca4253a2ca493080d43a05546d02fd);
        
    
            var marker_9a71764609564a0f8108aed2bd048652 = L.marker(
                [6.4487672, 3.5306864],
                {}
            ).addTo(map_24ca4253a2ca493080d43a05546d02fd);
        
    
        var popup_d799ff8f094845eea1d8a646f93156b3 = L.popup({"maxWidth": "100%"});

        
            var html_5d484001734c4f3f896887a2fa162610 = $(`<div id="html_5d484001734c4f3f896887a2fa162610" style="width: 100.0%; height: 100.0%;"><a href="/reply?doc=ere">Dr. ere</a></div>`)[0];
            popup_d799ff8f094845eea1d8a646f93156b3.setContent(html_5d484001734c4f3f896887a2fa162610);
        

        marker_9a71764609564a0f8108aed2bd048652.bindPopup(popup_d799ff8f094845eea1d8a646f93156b3)
        ;

        
    
    
            marker_9a71764609564a0f8108aed2bd048652.bindTooltip(
                `<div>
                     click
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2efe1ca4f8f94e61a52beffe10697594 = L.marker(
                [6.4487672, 3.5306864],
                {}
            ).addTo(map_24ca4253a2ca493080d43a05546d02fd);
        
    
            var icon_0d631220870d4bd3b7b342b81f4ca981 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_2efe1ca4f8f94e61a52beffe10697594.setIcon(icon_0d631220870d4bd3b7b342b81f4ca981);
        
    
            marker_2efe1ca4f8f94e61a52beffe10697594.bindTooltip(
                `<div>
                     <span color:'green'>You</span>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8d07051baa6a4415974f65a8b8454cc1 = L.marker(
                [6.439095399999999, 3.5244182000000004],
                {}
            ).addTo(map_24ca4253a2ca493080d43a05546d02fd);
        
    
        var popup_ada684be37f9475baffda63ad5e93df2 = L.popup({"maxWidth": "100%"});

        
            var html_477fdb57b7724734bcf9021d66f94941 = $(`<div id="html_477fdb57b7724734bcf9021d66f94941" style="width: 100.0%; height: 100.0%;"><a href="/reply?doc=dreplica">Dr. dreplica</a></div>`)[0];
            popup_ada684be37f9475baffda63ad5e93df2.setContent(html_477fdb57b7724734bcf9021d66f94941);
        

        marker_8d07051baa6a4415974f65a8b8454cc1.bindPopup(popup_ada684be37f9475baffda63ad5e93df2)
        ;

        
    
    
            marker_8d07051baa6a4415974f65a8b8454cc1.bindTooltip(
                `<div>
                     click
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b21b64ddeb2348398579658404b96959 = L.marker(
                [6.4389956, 3.5244706],
                {}
            ).addTo(map_24ca4253a2ca493080d43a05546d02fd);
        
    
        var popup_acdcde30f3d24f9390fa3d173187d776 = L.popup({"maxWidth": "100%"});

        
            var html_af360116e345491096eb6a6e4698cd7a = $(`<div id="html_af360116e345491096eb6a6e4698cd7a" style="width: 100.0%; height: 100.0%;"><a href="/reply?doc=soft">Dr. soft</a></div>`)[0];
            popup_acdcde30f3d24f9390fa3d173187d776.setContent(html_af360116e345491096eb6a6e4698cd7a);
        

        marker_b21b64ddeb2348398579658404b96959.bindPopup(popup_acdcde30f3d24f9390fa3d173187d776)
        ;

        
    
    
            marker_b21b64ddeb2348398579658404b96959.bindTooltip(
                `<div>
                     click
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6f9d2c326e324d83bd6ea1faaed9f747 = L.marker(
                [6.4388741, 3.5245994000000005],
                {}
            ).addTo(map_24ca4253a2ca493080d43a05546d02fd);
        
    
        var popup_b00f9835d7814c8080f5dbf6d8014558 = L.popup({"maxWidth": "100%"});

        
            var html_505b44f5dbb4440485bb86e2dad3e827 = $(`<div id="html_505b44f5dbb4440485bb86e2dad3e827" style="width: 100.0%; height: 100.0%;"><a href="/reply?doc=diablo">Dr. diablo</a></div>`)[0];
            popup_b00f9835d7814c8080f5dbf6d8014558.setContent(html_505b44f5dbb4440485bb86e2dad3e827);
        

        marker_6f9d2c326e324d83bd6ea1faaed9f747.bindPopup(popup_b00f9835d7814c8080f5dbf6d8014558)
        ;

        
    
    
            marker_6f9d2c326e324d83bd6ea1faaed9f747.bindTooltip(
                `<div>
                     click
                 </div>`,
                {"sticky": true}
            );
        
</script>