<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_855dbe22dba7425fa05ea418ce495fab {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_855dbe22dba7425fa05ea418ce495fab" ></div>
        
</body>
<script>    
    
            var map_855dbe22dba7425fa05ea418ce495fab = L.map(
                "map_855dbe22dba7425fa05ea418ce495fab",
                {
                    center: [6.5244, 3.3792],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_1a67f088b21049028d82eeb64ce8d85f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_855dbe22dba7425fa05ea418ce495fab);
        
    
            var marker_05726a1f4c284e17a0f4de5ed862458d = L.marker(
                [6.5243793, 3.3792057],
                {}
            ).addTo(map_855dbe22dba7425fa05ea418ce495fab);
        
    
        var popup_d5b3790a2e914512aff58556f1ea9579 = L.popup({"maxWidth": "100%"});

        
            var html_fefa651bb7be466c81a0b57ebd014259 = $(`<div id="html_fefa651bb7be466c81a0b57ebd014259" style="width: 100.0%; height: 100.0%;"><a href="\profile?user=ere">Dr. ere</a></div>`)[0];
            popup_d5b3790a2e914512aff58556f1ea9579.setContent(html_fefa651bb7be466c81a0b57ebd014259);
        

        marker_05726a1f4c284e17a0f4de5ed862458d.bindPopup(popup_d5b3790a2e914512aff58556f1ea9579)
        ;

        
    
    
            marker_05726a1f4c284e17a0f4de5ed862458d.bindTooltip(
                `<div>
                     click
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b4b83b04a98348b2891f0093d23622e1 = L.marker(
                [6.5243793, 3.3792057],
                {}
            ).addTo(map_855dbe22dba7425fa05ea418ce495fab);
        
    
        var popup_c0c5aace113b4c818a093090768bef43 = L.popup({"maxWidth": "100%"});

        
            var html_704f14eef46b428d920ec7c707fc5e96 = $(`<div id="html_704f14eef46b428d920ec7c707fc5e96" style="width: 100.0%; height: 100.0%;"><a href="\profile?user=soft">Dr. soft</a></div>`)[0];
            popup_c0c5aace113b4c818a093090768bef43.setContent(html_704f14eef46b428d920ec7c707fc5e96);
        

        marker_b4b83b04a98348b2891f0093d23622e1.bindPopup(popup_c0c5aace113b4c818a093090768bef43)
        ;

        
    
    
            marker_b4b83b04a98348b2891f0093d23622e1.bindTooltip(
                `<div>
                     click
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3a936065323d460b87cdcac146428866 = L.marker(
                [6.5243793, 3.3792057],
                {}
            ).addTo(map_855dbe22dba7425fa05ea418ce495fab);
        
    
        var popup_74f7d57cebc64ac5bab5920059c1e002 = L.popup({"maxWidth": "100%"});

        
            var html_de60bb45d6f54bc7b27238e79518c5fd = $(`<div id="html_de60bb45d6f54bc7b27238e79518c5fd" style="width: 100.0%; height: 100.0%;"><a href="\profile?user=dreplica">Dr. dreplica</a></div>`)[0];
            popup_74f7d57cebc64ac5bab5920059c1e002.setContent(html_de60bb45d6f54bc7b27238e79518c5fd);
        

        marker_3a936065323d460b87cdcac146428866.bindPopup(popup_74f7d57cebc64ac5bab5920059c1e002)
        ;

        
    
    
            marker_3a936065323d460b87cdcac146428866.bindTooltip(
                `<div>
                     click
                 </div>`,
                {"sticky": true}
            );
        
</script>