<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Messages</title>
    <link href="../static/script/css.css" rel="stylesheet" type="text/css">
</head>
<body>

        {% if type == 'pat' %}
            <div id="recommendation" style="display:none;top: 100px; left:32%; background:rgb(184, 177, 177);padding:10px;width:40%; z-index:100; position:absolute;">
                <form>
                        <div class="form-group"  style="display: flex;flex-direction:column;margin-bottom:10px">
                          <label for="exampleInputEmail1" style="margin:10px auto;">Whats your Issue today?</label>
                          <input type="text" class="form-control"  id='issue' placeholder="Enter issues here" style="width:90%;height:50px;margin:10px auto; padding:10px">
                          <small id="emailHelp" class="form-text text-muted" style="margin:10px auto;">We'll never share your issues with anyone else.</small>
                        </div>
                        <div style="width:20%; margin:auto;">
                         <button type="submit" class="btn btn-primary" id='sub'>Submit</button>
                        <button type="submit" class="btn btn-primary" id='close1'>close</button>
                        </div>
                      </form>
             </div>
        {% else %}
        <button style="position: absolute; top:100px; left:10px;" id='add_analysis'>Add Analysis</button>
        <div id="recommendation" style="display:none;top: 100px; left:35%; background:rgb(184, 177, 177);padding:10px;width:40%; z-index:100; position:absolute;">
                <form method="POST" action="/consult">
                        <div class="form-group"  style="display: flex;flex-direction:column;margin-bottom:10px">
                            <label for="exampleInputEmail1" style="margin:10px auto;">Patient</label>
                            <input type="text" class="form-control" name='pname' placeholder="Enter patients name  here" style="width:90%;height:50px;margin:10px auto; padding:10px">
                          </div>

                          <div class="form-group"  style="display: flex;flex-direction:column;margin-bottom:10px">
                                <label for="exampleInputEmail1" style="margin:10px auto;">Issue</label>
                                <input type="text" class="form-control" name = 'issue' placeholder="Enter issues  here" style="width:90%;height:50px;margin:10px auto; padding:10px">
                              </div>

                        <div class="form-group"  style="display: flex;flex-direction:column;margin-bottom:10px">
                          <label for="exampleInputEmail1" style="margin:10px auto;">Analysis</label>
                          <input type="text" class="form-control"  name='recommendation' placeholder="Enter Recommendations  here" style="width:90%;height:50px;margin:10px auto; padding:10px">
                        </div>
                        <div class="form-group"  style="display: flex;flex-direction:column;margin-bottom:10px">
                                <label for="exampleInputEmail1" style="margin:10px auto;">Drugs</label>
                                <input type="text" class="form-control" name='drug' placeholder="Enter Drugs here" style="width:90%;height:50px;margin:10px auto; padding:10px">
                              </div>
                        <div style="width:20%; margin:auto;">
                         <button type="submit" class="btn btn-primary" id='submit'>Submit</button>
                        <button type="submit" class="btn btn-primary" id='close1'>close</button>
                        </div>
                        
                      </form>
             </div>
        {% endif %}

    
    <div class="chat">
        <div class="docs">
            <div style="text-align: center;margin-bottom: 20px;">
                <img src="{{ url_for('static',filename=row[0]['photo'])}}" style="border-radius: 50%;" width="100" height="100" >
                <h5 style="margin-top: 10px;"><strong><em>Welcome {{ user_id }}</em></strong></h5>
            </div>
            <hr>
            <h5 style="text-align: center;">     
            {% if type == 'pat' %}
                Doctors
            {% else %}
                patients
            {% endif %}
            </h5>
            <div id="dchat">
                <ul>
                {% for docs in rooms %}
                    <li class="current_chats">
                    {% if type == 'doc' %}
                        {{docs['user_id']}}
                    {% else %}
                        {{docs['doc']}}
                    {% endif %}
                    </li>
                {% endfor %}                
                </ul>
            </div>
            <div>
                {% if type == 'pat' %}
                <a href="/patient" class="btn btn-secondary">Back to Dashboard</a>
                {%else%}
                <a href="/doctor" class="btn btn-secondary">Back to Dashboard</a>
                {%endif%}
            </div>
        </div>
        <div class="chat_screen">
            <div id="message_board"></div>
            <div id="send">
                <input type="text" name="text" id='text' style='width:90%;'>
                <button type="submit" class="btn btn-success" id='sent' style='width:10%;'>Send</button>
            </div>
        </div>
    </div>
    <script>
        var user = `{{user_id}}`
        var from_redirect = `{{redirected_user}}`
        var recommendation = document.getElementById('recommendation')
        document.getElementById('close1').onclick = (e)=>{
            e.preventDefault();
            document.getElementById('recommendation').style.display = 'none'
        }
    </script>
    <!-- socket io file -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" ></script>
    <!-- our own made socket listener -->
    <script type="text/javascript" >
        document.addEventListener('DOMContentLoaded',function(){
            //var socket = io.connect('http://localhost:5000');
            var socket = io.connect('http://' + document.domain + ':' + location.port);//127.0.0.1:5000');
            var view = document.getElementById ('message_board')
            var text = document.getElementById('text')
            var active_chat = from_redirect;


            socket.on('message', data =>{
                var p = document.createElement('p')
                p.class = 'indoming_mess'
                var br = document.createElement('br')
               // alert(data.recipient+" " + user)
                p.innerHTML = data.text +'<span style=" color:blue;">  :'+data.username+'</span>'
                if(data.username == user)  p.style.textAlign = 'right';
                else p.style.textAlign = 'left';
                view.append(p)
            })    
            document.getElementById('sent').onclick = (e)=>{
                console.log(` i am ${user}`)
                console.log(active_chat)
                if(active_chat == 'None')  return alert("you've not specified any one to chat with")
                    socket.send({'text':text.value,'username':user,'recipient':active_chat} )
                    text.value = '';
                    text.focus()
                }
                if (document.getElementById('sub') != undefined){
                    sub.onclick = (e)=>{
                    e.preventDefault();
                    socket.send({
                        'text':user + " current issues, is " +document.getElementById('issue').value,
                        'username':user,
                        'recipient':active_chat})
                        close1.click()
                }                            
            }
            document.querySelectorAll('.current_chats').forEach(list=>{
                if( list.innerHTML == from_redirect){
                    list.style.background = 'darkgrey'
                }
                list.onclick=(e)=>{
                    let newChat = list.innerHTML
                    if( newChat == active_chat ){
                        msg = `you're currently chatting with ${active_chat}`;
                        tellUser(msg)
                    }else{
                        leaveRoom(active_chat)
                        joinRoom(newChat)
                        active_chat = newChat;
                        msg = `you're now chatting with ${active_chat} communicate hello  clearly`;
                        view.innerHTML = "";
                        tellUser(msg)                
                    }
                }
            })
            leaveRoom = ()=>{
                socket.emit({'username' :user, 'active_chat':active_chat})
            }
            
            joinRoom = ()=>{
                socket.emit({'username' :user, 'active_chat':active_chat})
            }
           
            function tellUser(msg){
                var p = document.createElement('p')
                p.innerHTML = msg
                console.log(p)
                view.append(p)
            }
     })

    let turned = false;
    if (document.getElementById('add_analysis') != undefined){
        add_analysis.onclick = (e)=>{
             e.preventDefault();
             if(turned  ==  false){
             recommendation.style.display = 'block'
             turned = true;
             }else {
                recommendation.style.display = 'none'
                turned = false;
             }
            }
             
    }
    
    </script>
</body>
</html>