{% extends "client_layout.html" %}
{% block main %}
<!--from here-->
        <div class="jumbotron jumbotron-fluid " style='text-align: left !important'>
          <div class="container text-primary">
              <h1 class="display-4"><em>E - Medicals</em></h1>
              <p class="lead">This is your online work environment..</p>
          </div>
        </div>

        <section class="mt-30px mb-30px">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <!-- Recent Updates Widget          -->
                        <div id="new-updates" class="card updates recent-updated">
                            <div id="updates-header" class="card-header d-flex justify-content-between align-items-center">
                                <h2 class="h5 display"><a data-toggle="collapse" data-parent="#new-updates" href="#updates-box" aria-expanded="true" aria-controls="updates-box">History</a></h2><a data-toggle="collapse" data-parent="#new-updates" href="#updates-box" aria-expanded="true" aria-controls="updates-box"><i class="fa fa-angle-down"></i></a>
                            </div>
                            <div id="updates-box" role="tabpanel" class="collapse show">
                                <ul class="news list-unstyled">
                                    <!-- Item-->
                                    <li class="d-flex justify-content-between">
                                        <div class="left-col d-flex">
                                            <div class="icon"><i class="icon-rss-feed"></i></div>
                                            <div class="title">
                                                <strong>...</strong>
                                                <p>.....</p>
                                            </div>
                                        </div>
                                        <div class="right-col text-right">
                                            <div class="update-date">...<span class="month">...</span></div> <!--date-->
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Recent Updates Widget End-->
                    </div>
                    
                    <div class="col-lg-6 col-md-6">
                        <!-- Recent Activities Widget      -->
                        <div id="recent-activities-wrapper" class="card updates activities">
                            <div id="activites-header" class="card-header d-flex justify-content-between align-items-center">
                                <h2 class="h5 display"><a data-toggle="collapse" data-parent="#recent-activities-wrapper" href="#activities-box" aria-expanded="true" aria-controls="activities-box">In Progress</a></h2><a data-toggle="collapse" data-parent="#recent-activities-wrapper" href="#activities-box" aria-expanded="true" aria-controls="activities-box"><i class="fa fa-angle-down"></i></a>
                            </div>
                            <div id="activities-box" role="tabpanel" class="collapse show">
                                <ul class="activities list-unstyled">
                                    <!-- Item-->
                                    <li>
                                        <div class="row">
                                            <div class="col-4 date-holder text-right">
                                                <div class="icon"><i class="icon-clock"></i></div>
                                                <div class="date"> <span>...</span><span class="text-info">...</span></div>
                                            </div>
                                            <div class="col-8 content">
                                                <strong>...</strong>
                                                <p>...</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--to here-->

{% endblock %}