{% extends "client_layout.html" %}
{% block main %}
    <div class="jumbotron jumbotron-fluid" style='text-align: left !important;'>
        <div class="container text-success">
            <h1 class="display-4"><em>E - Medicals</em></h1>
            <p class="lead">This is your online work environment..</p>
        </div>
    </div>
    <div class="container formcard" id="profile" style="display: block;">         
        <div class="profile">
            <div style="text-align: center;">
                <img src="{{ url_for('static',filename=row[0]['photo'])}}" style="border-radius: 50%;" width="160" height="160" >
            </div>
            <div class="text-success" style="text-align: center;"> 
                <p>@{{ user[0].user_id }}</p>   
                {% if user[0].type == 'pat' %}
                    <p>PATIENT</p>
                {% else %}
                    <p>DOCTOR</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-success">
                <p>Name</p>
                <p>Email</p>
                <p>Sex</p>
                <p>Address</p>
                <p>Phone Number</p>
                <p>Date of Birth</p>
                <p>Marital Status</p>
                <p>State</p>
            </div>           
            <div class="col-md-8 text-secondary">
                {%if user[0].type == 'doc' %}
                <p>Dr. {{ row[0].f_name }} {{ row[0].l_name }}</p>
                {% else %}
                <p>{{ row[0].f_name }} {{ row[0].l_name }}</p>
                {% endif %}
                <p>{{ user[0].email }}</p>
                <p>{{ row[0].sex }}</p>
                <p>{{ row[0].location }}</p>
                <p>{{ row[0].phone }}</p>
                <p>{{ row[0].dob }}</p>
                <p>{{ row[0].m_stat }}</p>
                <p>{{ row[0].state }}</p>
            </div>
        </div> 
        <button class="btn btn-success" id="update">Update profile</button>           
    </div>
    <div class="container formcard" style="display: none;" id="show">
        <h3>Update your profile</h3>
        <form action="/update" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" class="form-control" placeholder="New email address" required>
            </div>
            <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" name="password" class="form-control" placeholder="New email address" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="text" name="num" class="form-control" placeholder="New phone numbeer" required>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <textarea type="text" name="loc" class="form-control" placeholder="New home address" required></textarea>
            </div>
            <div class="form-group">
                <label for="picture">Picture Upload</label>
                <input type="file" name="picture" class="form-control" required>
            </div>
            <input type="submit" value="Update" class="btn btn-success">
            <input type="button" value="Cancel" class="btn btn-danger" id="cancel">
        </form>
    </div>
{% endblock %}