<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>E-medic</title>
</head>
<body>
    <div class="container col-md-5">
        <div>
            <form action="" method="post"> 
                <div class="form-group">
                    <label for="type">Who are you?</label>
                    <input type="text" name="type" id="input" class="form-control">
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="phone" name="username" class="form-control" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" placeholder="Enter email address">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Enter Password">
                </div>
                <div class="form-group">
                    <label for="confirm">Confirm Password</label>
                    <input type="confirm" name="confirm" class="form-control" placeholder="Enter Password">
                </div>
                <input type="submit" class="btn btn-success" value="Submit">
            </form>
        </div>
        <div>
            <form action="">
                <h3>Personal Information</h3>
                <div class="form-row">
                    <div class="col">
                        <label for="firstname">First Name</label>
                        <input type="text" name="firstname" class="form-control" placeholder="Enter first name">
                    </div>
                    <div class="col">
                        <label for="lasttname">Last Name</label>
                        <input type="text" name="lastname" class="form-control" placeholder="Enter last name">
                    </div>        
                </div>            
                <div class="form-group">
                    <label for="gender">Marital status</label>
                    <select class="custom-select" name="marital">
                        <option disabled selected>Choose</option>
                        <option value="single">Single</option>
                        <option value="married">Maarried</option>
                        <option value="divorce">Divorce</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="phone" name="number" class="form-control" placeholder="Enter phone number">
                </div>
                <div class="form-group">
                    <label for="phone">Home address</label>
                    <textarea name="number" class="form-control" placeholder="Enter home address"></textarea>
                </div>
                <div class="form-group">
                    <label for="phone">States</label>
                    <select class="custom-select" name="states">
                        <option disabled selected>Choose state..</option>
                        {% for state in states %}
                        <option value={{state[2]}}>{{ state[2] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <select class="custom-select" name="gender">
                        <option disabled selected>Choose</option>
                        <option value="female">Female</option>
                        <option value="male">Male</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="dob">Date of birth</label>
                    <input type="date" name="dob" class="form-control">
                </div>
                <div class="form-group">
                    <label for="valid">Valid id name</label>
                    <input type="text" name="idname" class="form-control" placeholder="Enter valid id name">
                </div>
                <div class="form-group">
                    <label for="valid">Valid id Number</label>
                    <input type="text" name="idnumber" class="form-control" placeholder="Enter valid id number">
                </div>
                <div class="form-group">
                    <label for="valid">Upload photo</label>
                    <input type="file" name="photo" class="form-control">
                </div>
                <input type="submit" class="btn btn-success" value="Submit">    
            </form>
        </div>
        <div>
            <form action="">
                <h3>Medical Information</h3>
                <div class="form-row">
                    <div class="col">
                        <label for="firstname">Year of licence</label>
                        <input type="date" name="year1" class="form-control">
                    </div>
                    <div class="col">
                        <label for="lasttname">Expiring year</label>
                        <input type="date" name="year2" class="form-control">
                    </div>        
                </div>
                <div class="form-group">
                    <label for="email">Speciality</label>
                    <input type="text" name="speciality" class="form-control" placeholder="Enter Speciality">
                </div>
                <div class="form-group">
                    <label for="phone">Hospital Affiliation</label>
                    <input type="text" name="hospital" class="form-control" placeholder="Hospital Affiliation">
                </div>
                <div class="form-group">
                    <label for="gender">Certification</label>                
                    <input type="text" name="certificate" class="form-control" placeholder="Enter Certificate">
                </div>
                <div class="form-group">
                    <label for="dob">Link to published medical research</label>
                    <input type="text" name="link" class="form-control" placeholder="Add link">
                </div>
                <div class="form-group">
                    <label for="valid">Country of practice</label>
                    <input type="text" name="country" class="form-control" placeholder="Country Of practice">
                </div>
                <div class="form-group">
                    <label for="valid">Medical school</label>
                    <input type="text" name="school" class="form-control" placeholder="Enter school">
                </div>   
                <div class="form-group">
                    <label for="valid">Board certified</label>
                    <input type="text" name="board" class="form-control" placeholder="Board certified">
                </div> 
                <input type="submit" class="btn btn-success" value="Submit">
            </form>
        </div>
        <div>
            <h3>Work Experience</h3>
            <form action="" method="POST">
                <div class="form-group">
                    <label>Where have you worked with (Please specify with date)</label>
                    <textarea class="form-control" name="work"></textarea>
                    <label>Date</label>
                    <input type="date" name="date" class="form-control">
                </div>
                <div class="form-group">
                    <label for="valid">Name of Superior</label>
                    <input type="text" name="board" class="form-control" placeholder="Superior name">
                </div>
                <div class="form-group">
                    <label for="valid">Address</label>
                    <input type="text" name="board" class="form-control" placeholder="Enter address">
                </div>
                <div class="form-group">
                    <label for="valid">Contact</label>
                    <input type="text" name="board" class="form-control" placeholder="Enter phone number">
                </div>
                <input type="submit" class="btn btn-success" value="Submit">            
            </form>
        </div>  
        <div>
            <form action="">
                <h3>Personal Information</h3>
                <div class="form-row">
                    <div class="col">
                        <label for="firstname">First Name</label>
                        <input type="text" name="firstname" class="form-control" placeholder="Enter first name">
                    </div>
                    <div class="col">
                        <label for="lasttname">Last Name</label>
                        <input type="text" name="lastname" class="form-control" placeholder="Enter last name">
                    </div>        
                </div>            
                <div class="form-group">
                    <label for="gender">Marital status</label>
                    <select class="custom-select" name="marital">
                        <option disabled selected>Choose</option>
                        <option value="single">Single</option>
                        <option value="married">Maarried</option>
                        <option value="divorce">Divorce</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="phone" name="number" class="form-control" placeholder="Enter phone number">
                </div>
                <div class="form-group">
                    <label for="phone">Home address</label>
                    <textarea name="number" class="form-control" placeholder="Enter home address"></textarea>
                </div>
                <div class="form-group">
                    <label for="phone">States</label>
                    <select class="custom-select" name="states">
                        <option disabled selected>Choose</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <select class="custom-select" name="gender">
                        <option disabled selected>Choose</option>
                        <option value="female">Female</option>
                        <option value="male">Male</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="dob">Date of birth</label>
                    <input type="date" name="dob" class="form-control">
                </div>
                <div class="form-group">
                    <label for="valid">Valid id name</label>
                    <input type="text" name="idname" class="form-control" placeholder="Enter valid id">
                </div>
                <div class="form-group">
                    <label for="valid">Valid id number</label>
                    <input type="text" name="idnumber" class="form-control" placeholder="Enter valid id nume">
                </div>
                <div class="form-group">
                    <label for="valid">Upload photo</label>
                    <input type="file" name="photo" class="form-control">
                </div>
                <input type="submit" class="btn btn-success" value="Submit">    
            </form>
        </div>
        <div>
            <form action="">
                <h3>Medical History</h3>
                <div class="form-group">
                    <label for="gender">Blood Group</label>
                    <select class="custom-select" name="blood">
                        <option disabled selected>Choose</option>
                        <option value="o">O+</option>
                        <option value="a">A</option>
                        <option value="b">B</option>
                        <option value="ab">AB</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="gender">Genotype</label>
                    <select class="custom-select" name="gene">
                        <option disabled selected>Choose</option>
                        <option value="aa">AA</option>
                        <option value="as">AS</option>
                        <option value="ss">SS</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Describe known medical issues</label>
                    <textarea name="issues" class="form-control" placeholder="Describe issues here"></textarea>
                </div>
                <input type="submit" class="btn btn-success" value="Submit"> 

                <h4>Next of kin</h4>
                <div class="form-row">
                    <div class="col">
                        <label for="firstname">First Name</label>
                        <input type="text" name="firstname" class="form-control" placeholder="Enter first name">
                    </div>
                    <div class="col">
                        <label for="lasttname">Last Name</label>
                        <input type="text" name="lastname" class="form-control" placeholder="Enter last name">
                    </div>        
                </div>
                <div class="form-group">
                    <label for="firstname">Phone number</label>
                    <input type="text" name="number" class="form-control" placeholder="Enter phone number">
                </div>
                <div class="form-group">
                    <label for="lasttname">Email</label>
                    <input type="email" name="lastname" class="form-control" placeholder="Enter email address">
                </div> 
                <div class="form-group">
                    <label for="lasttname">Home Address</label>
                    <textarea name="address" class="form-control" placeholder="Enter home address"></textarea>
                </div>
                <input type="submit" class="btn btn-success" value="Submit">    
            </form>
        </div>            
    </div>      
</body>
</html>
