<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Consult</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .friend:hover{
                    background: darkgray;
        }

        #message_box{
            border-radius: 5%;
            padding: 15px;
            margin: 0px;
        }

        .icons{
            display: flex;
            flex-direction: row;
            justify-items: flex-start;
        }


        .chatt{
            padding:10px;
            background: lightgrey;
            position: relative;
            display: flex;
            flex-direction: row;

        }

        .left{
            justify-items: left;
        }
        .left{
            justify-items: right;
        }
    </style>
</head>
<body>
    
<div class="jumbotron jumbotron-fluid" style='text-align: left !important'>
    <div class="container text-success">
            <h1 class="display-4">E - Medicals  <small style="font-size:15px;">  Health for all ....</small></h1>
    </div>
</div>
<!-- button -->

{% if typ == 'pat' %}    
<div class="position" style="width:20%; margin:auto;">            
<a href="/patient" class="btn btn-secondary" style="width:100%;margin-bottom: 10px;"> &larr; Dashboard</a>
</div>
{%else%}
<div class="position" style="width:30%; margin:auto; display:flex;flex-direction:row;justify-content:space-around">  
<button class="btn btn-secondary" style="width:30%;margin-bottom: 10px;" id='add_analysis'>Add Analysis</button>                      
<a href="/doctor" class="btn btn-secondary" style="width:30%;margin-bottom: 10px;">  &larr; Dashboard</a>
</div>
{%endif%}
</div>
<!-- message that pops up for patient and doc on chat -->
{% if typ == 'doc' %}    
<div id="recommendation" style="position:fixed; top:30%;display:none;left:35%; background:rgb(184, 177, 177);padding:10px;width:40%; z-index:100; position:absolute;">
    <form method="POST" action="/consult">
        <div class="form-group"  style="display: flex;flex-direction:column;margin-bottom:10px">
            <label for="exampleInputEmail1" style="margin:10px auto;">Patient</label>
            <input type="text" class="form-control" name='pname' placeholder="Enter patients name  here" style="width:90%;height:50px;margin:10px auto; padding:10px" required>
        </div>
        <div class="form-group"  style="display: flex;flex-direction:column;margin-bottom:10px">
            <label for="exampleInputEmail1" style="margin:10px auto;">Issue</label>
            <input type="text" class="form-control" name = 'issue' placeholder="Enter issues  here" style="width:90%;height:50px;margin:10px auto; padding:10px" required>
        </div>
        <div class="form-group"  style="display: flex;flex-direction:column;margin-bottom:10px">
            <label for="exampleInputEmail1" style="margin:10px auto;">Analysis</label>
            <input type="text" class="form-control"  name='recommendation' placeholder="Enter Recommendations  here" style="width:90%;height:50px;margin:10px auto; padding:10px" required>
        </div>
        <div class="form-group"  style="display: flex;flex-direction:column;margin-bottom:10px">
                <label for="exampleInputEmail1" style="margin:10px auto;">Drugs</label>
                <input type="text" class="form-control" name='drug' placeholder="Enter Drugs here" style="width:90%;height:50px;margin:10px auto; padding:10px" required>
        </div>
        <div style="width:50%; margin:auto;">
            <button type="submit" class="btn btn-primary" id='submit'>Submit</button>
            <button type="submit" class="btn btn-primary" id='close1'>close</button>
        </div>            
    </form>
</div>
{% endif %}   

<!-- container for the chat -->
<div class="container" style="height: 600px;">
<div class="row outer_container">
        <div class="col-lg-10 col-md-8 col-sm-6 col-xs-4" style="margin:auto; display:flex; flex-direction:row;">
            <div class="friends col-lg-3 col-md-5 col-sm-4 col-xs-4" >
                 <ul class="list-group" style="height: 500px;">
                    <li class="list-group-item active"  style="text-align: center; ">
                        {% if typ == 'doc' %}
                            Patients
                        {% else %}
                            Doctors
                        {% endif %}
                    </li>
                {% for friend in friends %}
                    {% if typ == 'doc' %}
                        <li class="list-group-item friend">{{friend['user_id']}}</li>
                    {% else %}
                        <li class="list-group-item friend">{{friend['doc']}}</li>
                    {% endif %}
                {% endfor %}
                </ul> 
         
            </div>

            <div class="chat-area col-lg-7 col-md-7 col-sm-6 col-xs-6"  style="border: 1px solid black;">
                        <div id="message_box" style='width:95%; height: 500px; overflow:auto;'>
                        </div>

                <form action="/reply" method="POST" style="width:100%;">
                            <div class="form-group mb-2">
                                <input type="hidden" value="" id='us'>
                                <input type="hidden" value="" id='re'>
                                <input type="hidden" value="" id='hash'>
                                </div>
                                <div class="form-group mx-sm-3 mb-2 icons">
                                <input type="text" name='msg' class="form-control" id="msg" style="width:65%;border-radius:0px;" placeholder="Message">
                                <button type="submit" class="btn btn-primary mb-2" value='send' id='send' style="width:30% ;; border-radius:0px;" >Send</button>
                            </div>
                        </form>
            </div>
   </div>
</div>
</div>

<script src="http://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<!-- ajax code here -->
<script>
let turned = false;
if (document.getElementById('add_analysis') != undefined){
        add_analysis.onclick = (e)=>{
            e.preventDefault();
            if(turned  ==  false){
                recommendation.style.display = 'block'
                turned = true;
            }else {
                recommendation.style.display = 'none'
                turned = false;
            }
        }            
    }    

    if (document.getElementById('close1') != undefined){
            document.getElementById('close1').onclick = (e)=>{
                e.preventDefault();
                if(recommendation != undefined)recommendation.style.display = 'none';
            }
        }
    //make an onclick post for the button
    //the button is suppose to send a post request
    //post request for reciever is the user whose class is set to true


$('#us').val(`{{user}}`)
let user = `{{user}}`
 let hash = ''
 let rec = ''
 let check = false
 let main_doc = ''
 let type = `{{typ}}`

 //console.log(send)
    $('#send').on('click',(e)=>{
        e.preventDefault();
        let out = $("#msg").val()

        
        $.ajax({
            method:'POST',
            url:'/reply',
            data:{
                msg:out,
                sender:$('#us').val(),
                receiver:$('#re').val(),
                hash:$('#hash').val()
            },
            type:'application/json',
            success:()=>{
                out.value = ' ';
                msg.value = ''
                msg.focus()
                console.log(out,send,rec,hash)
                    }
        })
    })

    // on clicking any friend, make a get request for that user;
    //to be displayed on the message board
document.querySelectorAll('.friend').forEach((friend)=>{
        friend.onclick = (e)=>{
            $('#re').val($(e.target).text())
            board = $('#message_box')
            check = true
            main_doc = friend.innerHTML;
                $.ajax({
                    method:'GET',
                    url:'/reply?name='+friend.innerHTML,
                    success:(data)=>{
                            console.log(data)
                            $('#message_box').html(data.msg.map(x=>(x['send'] == user?`<div class="chat left" style="margin:5px; padding:8px; border-radius:10px; background:lightblue; color:black; width:50%; text-align:left"><p>`+ 
                                                                                                                        x['msg']+"</p>":
                                                                                                                        `<div class="chat right" style="margin:5px; padding:8px; margin-left:180px; border-radius:10px; background:lightblue; color:black; width:50%; text-align:right"><p>`
                                                                                                                            + x['msg']+"</p>")+"<span style='color:black'>:"+x['send']+"</span></div>"));
                            $('#hash').val(data.hash)
                    }
                })
            }
    })

    //to make post every milli second
   // console.log('this is it' +$('#re').val())
   
 let timing = setInterval((e)=>{ 
                
                if( check == true){
                    $.ajax({

                    method:'GET',
                    url:'/reply?name='+main_doc,
                    success:(data)=>{
                             if(data.msg){
                                 $('#message_box').html(data.msg.
                                                            map(x=>(x['send'] == user?`<div class="chat left" style="margin:5px; padding:8px; border-radius:10px; background:lightblue; color:black; width:50%; text-align:left"><p>`+ 
                                                                x['msg']+"</p>":
                                                                `<div class="chat right" style="margin:5px; padding:8px; margin-left:180px; border-radius:10px; background:lightblue; color:black; width:50%; text-align:right"><p>`
                                                                    + x['msg']+"</p>")+"<span style='color:black'>:"+x['send']+"</span></div>"))
                               $('#message_box').animate({scrollTop: document.getElementById('message_box').scrollHeight},"fast");
                                                                                                                                 }
                                 
                    }
                })
    }
},1500)

</script>
</body>
</html>